.product-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
  }
  .form-control label,
  .form-control input {
    display: block;
    width: 100%;
  }
  .form-control input {
    border: 1px solid rgb(19, 182, 231);
    font: inherit;
    border-radius: 2px;
  }
  .form-control {
    margin: 1rem 0;
  }

  button {
    font: inherit;
    border: 1px solid #a07bdb;
    color: #a07bdb;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover,
  button:active {
    background-color: #a07bdb;
    color: white;
  }